@font-face {
  font-family: "TT Norms Pro";
  src: url("https://github.com/liros-design/GSAP-Test/raw/11c5c5db9a173ad27bde75089ddd06763d2dc08a/TTNormsPro-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TT Norms Pro", sans-serif;
  display: flex;
  align: vertical;
  width: 720px;
  height: 1280px;
  padding: 40px;
}

.background-class{
  background: linear-gradient(to right, #5e84ff, #fff799);
}

.title {
  font-size: 100px;
  margin-bottom: 20px;
  font-weight: 400;
  color: white;
  white-space: nowrap;
}


.dimedis-logo img {
  max-width: 600px;
  )
