@font-face {
  font-family: "TT Norms Pro";
  src: url("https://github.com/liros-design/GSAP-Test/raw/11c5c5db9a173ad27bde75089ddd06763d2dc08a/TTNormsPro-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TT Norms Pro", sans-serif;
  display: flex;
  align: vertical;
  width: 1280px;
  height: 1920px;
  margin: 0;
  padding: 0;

}

.background-class{
  background: linear-gradient(to right, #5e84ff, #fff799);
  width: 1280px;
  height: 1920px;
  padding: 60px;
  gap: 40px;
  justify-content: left;

}

.title {
  font-size: 100px;
  font-weight: 400;
  color: white;
 
}

.text {
  font-size: 200px;
  font-weight: 700;
  color: white;
 
}

.event-logo {
  display: flex;
  padding-top: 800px;
 
}

.event-logo img {
  max-width: 200px;
  
}
